<%= form_with(model: diary, local: true) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new-edit">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, size: "55x5", class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :text %>
      <%= form.text_area :text, size: "55x20", class: "form-control"  %>
    </div>
  </div>
  <div class="marginauto">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
