<div class="back-image">
  <div class="back-color">
    <p id="notice"><%= notice %></p>

    <h1 class ="mydiary"><%= current_user.name %>の日記</h1>

    <div class="yokonarabi">
      <%= form_with url:'/diaries', method: :get, local: true do |f| %>
        <%= label_tag(:title, "日記タイトルで検索") %>
        <%= text_field_tag(:title) %>
        <%= submit_tag("検索") %> <%= link_to 'Clear', diaries_path %>
      <% end %>

      <%= form_with url:'/diaries', method: :get, local: true do |f| %>
        <%= label_tag(:created_at, "日付で検索") %>
        <%= date_field_tag(:created_at) %>
        <%= submit_tag("検索") %> <%= link_to 'Clear', diaries_path %>
      <% end %>
    </div>

    <div class="tableblock">
      <table>
        <thead class="scrollHead">
          <tr>
            <th class="created">作成日付</th>
            <th class="updated">更新日付</th>
            <th class="title">日記タイトル</th>
            <th class="blank"></th>
          </tr>
        </thead>

        <tbody class="scrollBody">
          <% @diaries.each do |diary| %>
            <tr>
              <td class="created"><%= diary.created_at %></td>
              <td class="updated"><%= diary.updated_at %></td>
              <td class="title"><%= diary.title %></td>
              <td><%= link_to '詳細', diary %></td>
              <td><%= link_to '更新', edit_diary_path(diary) %></td>
              <td><%= link_to '削除', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>最新の２０件までを表示しています。</p>
    </div>
    <div class="registration">
      <%= link_to '日記を作成する', new_diary_path, class: "registration-green" %>
      <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, class: "registration-red" %>
    </div>
    <p class="text-right"></p>
  </div>
</div>
