<p id="notice"><%= notice %></p>

<h1><%= current_user.name %>のpage</h1>

<table>
  <thead>
    <tr>
      <th>作成日付</th>
      <th>更新日付</th>
      <th>日記タイトル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.created_at %></td>
        <td><%= diary.updated_at %></td>
        <td><%= diary.title %></td>
        <td><%= link_to '詳細', diary %></td>
        <td><%= link_to '更新', edit_diary_path(diary) %></td>
        <td><%= link_to '削除', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '日記を作成する', new_diary_path %>

<p class="text-right"><%= link_to "ログアウトする", destroy_user_session_path, method: :delete %></p>
