<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @diary.text %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
